* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  font-size: 24px;
  color: white;
}

.App {
  text-align: center;
  background-image: linear-gradient(-5deg, #6accec, #2670c5);
  background-attachment: fixed;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
  line-height: 4rem;
}

.header {
  font-size: 36px;
  line-height: 4rem;
}

.bigText {
  font-size: 36px;
}

.smallText {
  font-size: 16px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}

input:focus {
  outline: none;
}

input[type=submit]:hover {
  background-color: rgba(224, 244, 224, 0.3);
  cursor: pointer;
  transition-duration: 0.2s;
}

input[type=submit]:active {
  background-color: rgba(224, 244, 224, 0.6);
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  flex-direction: row;
  align-items: flex-start;
}

.column {
  min-width: 300px;
  flex: 1;
}

.columnStyle {
  background-color: rgba(224, 244, 224, 0.2);
  border-radius: 25px;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input {
  background-color: rgba(224, 244, 224, 0.2);
  border-radius: 25px;
  border: 0;
  padding: 5px 20px;
  margin: 20px 5px 10px 5px;
  transition-duration: 0.2s;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
  }
}